{{ ansible_managed | comment }}
{
  "Debug": {{ ha_orchestrator_debug | lower }},
  "ListenAddress": ":{{ ha_orchestrator_port }}",

  "MySQLTopologyUser":     "{{ ha_orchestrator_topology_user.name }}",
  "MySQLTopologyPassword": "{{ ha_orchestrator_topology_user.password }}",

  "MySQLOrchestratorHost":     "127.0.0.1",
  "MySQLOrchestratorPort":     {{ mysql_port }},
  "MySQLOrchestratorDatabase": "{{ ha_orchestrator_backend_user.database }}",
  "MySQLOrchestratorUser":     "{{ ha_orchestrator_backend_user.name }}",
  "MySQLOrchestratorPassword": "{{ ha_orchestrator_backend_user.password }}",

  "HostnameResolveMethod":        "{{ ha_orchestrator_hostname_resolve_method }}",
  "MySQLHostnameResolveMethod":   "{{ ha_orchestrator_mysql_hostname_resolve_method }}",
  "RejectHostnameResolvePattern": "{{ ha_orchestrator_reject_hostname_pattern }}",

  "InstancePollSeconds":             {{ ha_orchestrator_instance_poll_seconds }},
  "DiscoverByShowSlaveHosts":        true,
  "ReasonableReplicationLagSeconds": {{ ha_orchestrator_reasonable_replication_lag_seconds }},
  "ReplicationLagQuery":             "",
  "MaxReplicasToRenderInTopology":   {{ ha_orchestrator_max_replicas_to_render }},

  "RecoveryEnabled":                         {{ ha_orchestrator_recovery_enabled | lower }},
  "RecoveryPollSeconds":                     {{ ha_orchestrator_recovery_poll_seconds }},
  "DetectionSamplingSize":                   {{ ha_orchestrator_detection_sampling_size }},
  "RecoverMasterClusterFilters":             {{ ha_orchestrator_recover_master_filters | to_json }},
  "RecoverIntermediateMasterClusterFilters": {{ ha_orchestrator_recover_intermediate_master_filters | to_json }},

  "FailMasterPromotionIfSQLThreadNotUpToDate": {{ ha_orchestrator_fail_master_if_sql_not_uptodate | lower }},
  "DetachLostReplicasAfterMasterFailover":     {{ ha_orchestrator_detach_lost_replicas_after_failover | lower }},

  "MySQLConnectTimeoutSeconds": {{ ha_orchestrator_connect_timeout_seconds }},
  "MySQLReadTimeoutSeconds":    {{ ha_orchestrator_read_timeout_seconds }},
  "UseSSL":                     false,
  "AuthenticationMethod":       "",

  "PostMasterFailoverProcesses": [
    "{{ ha_failover_script_path }} {failedHost} {successorHost}"
  ]
}
